.contimagentexto {
  width: 100%;
  position: relative; }
  .contimagentexto img {
    width: 100%; }
  .contimagentexto .divcuadrotexto {
    position: absolute;
    top: 8%;
    right: 4%;
    max-height: 80%;
    width: 60%;
    overflow: hidden;
    overflow-y: auto;
    border: 4px solid #96857A; }
    .contimagentexto .divcuadrotexto p {
      color: #96857A; }
    .contimagentexto .divcuadrotexto .pTitulocuadro {
      font-family: "ChronicleDisplay-Bold";
      font-size: 3em;
      text-align: center;
      padding: 3% 0 0;
      margin: 0; }
    .contimagentexto .divcuadrotexto .pTextocuadro {
      font-family: "CircularStd-Book";
      font-size: 1em;
      padding: 2% 5% 4%;
      margin: 0;
      text-align: center;
      line-height: 145%; }
  .contimagentexto .colorblanco {
    border: 4px solid white; }
    .contimagentexto .colorblanco p {
      color: white; }

.abtnvermastips {
  display: block;
  font-family: "ChronicleDisplay-Bold";
  font-size: 1.75em;
  color: white;
  background-color: #ECBFBD;
  border: 4px solid #ECBFBD;
  padding: 2rem 0;
  margin: 0.75rem 0 0;
  text-align: center;
  cursor: pointer; }
  .abtnvermastips:hover {
    color: #ECBFBD;
    background-color: white; }

#Glide, #Glide_dos, #Glide_tres {
  background-color: #F4F1EF;
  margin: 1em 0; }
  #Glide li, #Glide_dos li, #Glide_tres li{
    background: none !important; }
  #Glide .glide__wrapper .glide__track .glide__slide .contslideitem, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem{
    width: 80%;
    display: block;
    margin: 2rem auto 4rem; }
    #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contimg, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contimg {
      display: inline-block;
      vertical-align: top;
      width: 38%; }
      #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contimg img, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg img, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contimg img{
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto; }
    #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion{
      display: inline-block;
      vertical-align: top;
      width: 60%;
      text-align: center; }
      #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc{
        display: block;
        font-family: "ChronicleDisplay-Bold";
        font-size: 2.25em;
        color: #96857A;
        padding: 1rem 0 0;
        margin: 0;
        letter-spacing: -0.1rem; }
      #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .pskustock, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .pskustock, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .pskustock{
        font-family: "CircularStd-Book";
        font-size: 0.6em;
        padding: 0.4rem 0;
        margin: 0;
        color: #AFB1B4;
        text-align: center; }
      #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ppreciodesc, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ppreciodesc, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ppreciodesc{
        display: block;
        font-family: "ChronicleDisplay-Bold";
        font-size: 2em;
        color: #808080;
        padding: 0;
        margin: 0; }
      #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .abtncomprarprod, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .abtncomprarprod, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .abtncomprarprod{
        font-family: "CircularStd-Book";
        background-color: #231F20;
        color: white;
        font-size: 1.1em;
        padding: 0.5rem 2rem;
        margin: 1rem 0 0;
        display: inline-block;
        font-weight: bold;
        border: 2px solid #231F20;
        cursor: pointer; }
        #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .abtncomprarprod:hover, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .abtncomprarprod:hover, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .abtncomprarprod:hover{
          background-color: white;
          color: #231F20; }

.glide__bullets > * {
  background-color: #C5C4C2;
  border: 2px solid transparent; }

.glide__bullets > *.active {
  background-color: #96857A; }

.glide__bullets > *:hover, .glide__bullets > *:focus {
  border: 2px solid #96857A;
  background-color: #96857A; }

.divcontsliderrigth {
  position: relative; }
  .divcontsliderrigth #Glide {
    position: absolute;
    // top: 0;
    top: 1.5%;
    right: 0;
    // width: 50%;
    width: 49%;
    height: 100%;
    // height: 635px;
    margin: 0; }

.abtnveragendaeventos {
  display: block;
  font-family: "ChronicleDisplay-Bold";
  font-size: 1.75em;
  color: #ECBFBD;
  background-color: white;
  border: 4px solid #ECBFBD;
  padding: 2rem 0;
  margin: 0.75rem 0;
  text-align: center;
  cursor: pointer; }
  .abtnveragendaeventos:hover {
    color: white;
    background-color: #ECBFBD; }

.gif .abtnposition {
  position: relative; }
  .gif .abtnposition a {
    position: absolute;
    top: 0;
    left: 0; }
.gif .abtnfondorosa {
  background: #ECBFBD !important; }

.main.experto .container ul.contshishedo li {
  height: 320px; }
  .main.experto .container ul.contshishedo li:nth-child(1) {
    background: url(../img-exp/shishedo/tutoriales.jpg) no-repeat center center; }
.main.experto .container ul.contgivenchychico li:nth-child(1) {
  background: url(../img-exp/givenchy/tutoriales.jpg) no-repeat center center; }
.main.experto .container ul.contgivenchygrande li {
  height: 500px; }
  .main.experto .container ul.contgivenchygrande li:nth-child(1) {
    background: url(../img-exp/givenchy/grande.jpg) no-repeat center center;
    background-size: cover; 
    height: 635px;
  }
.main.experto .container ul.contmac li:nth-child(1) {
  background: url(../img-exp/mac/tutoriales.jpg) no-repeat center center;
  background-size: cover; }
.main.experto .container ul.esteelauder li:nth-child(1) {
  background: url(../img-exp/esteelauder/tutoriales.jpg) no-repeat center center;
  background-size: cover; }
.limpiar:after{ content:"";display:block;height:0;clear:both;visibility:hidden; }
.limpiar{ display:inline-block; }
.limpiar{ display:block; }
* html .limpiar{ height:1px; }
#idFormularioRegistro{
  position: relative;
  max-width: 830px;
  width: 100%;
  display: block;
  margin: 0 auto;
  // cursor: url(../images/labial.png), auto;
}
#idFormularioRegistro .imgfondoformulario{
  width: 100%;
}
#idFormularioRegistro .contformulario{
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
}
#idFormularioRegistro .ptituloformulario{
  font-family: "ChronicleDisplay-Bold";
  font-size: 2em;
  color: #96857A;
  margin: 0;
  padding: 0 0 4rem;
  text-align: center;
  line-height: 100%;
}
#idFormularioRegistro .filaformulario{
  margin: 0 0 2.5rem;
}
#idFormularioRegistro .filaformulario .columnamitadformulario{
  float: left;
  width: 50%;
}
#idFormularioRegistro .filaformulario .columnaformulario{
  width: 100%;
}
#idFormularioRegistro .filaformulario label{
  font-family: "ChronicleDisplay-Bold";
  font-size: 1.25em;
  color: #808080;
}
#idFormularioRegistro .filaformulario .columnamitadformulario label input{
  display: block;
  width: 95%;
  cursor: url(../images/labial.png), auto;
  font-family: 'AlphaMackAOE';
  font-size: 1.5em;
  padding: .1em .5em;
  box-sizing: border-box;
  color: #d4adac;
}
#idFormularioRegistro .filaformulario .columnaformulario label input{
  width: 97%;
  cursor: url(../images/labial.png), auto;
  font-family: 'AlphaMackAOE';
  font-size: 1.5em;
  padding: .1em .5em;
  box-sizing: border-box;
  color: #d4adac;
}
#idFormularioRegistro .filaformulario .columnamitadformulario:last-child{
  padding: 0 0 0 0%;
}
#idFormularioRegistro .abtnenviarformulario{
  background-image: url(../img-exp/Boton.png);
  background-position: center top;
  background-repeat: no-repeat;
  width: 245px;
  height: 92px;
  display: block;
  margin: 5% auto;
  transition: none;
  cursor: pointer;
}
#idFormularioRegistro .abtnenviarformulario:hover{
  background-position: center bottom;
}
#box-formulario{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: none;
}
.abtncerrarpopformulario{
  position: absolute;
  z-index: 5;
  top: 3%;
  right: 4%;
  font-family: "CircularStd-Book";
  color: #231F20;
  font-size: 2.5em;
  cursor: pointer;
}
.ptextomensajeerror{
  font-family: "CircularStd-Book";
  color: red;
  font-size: 1.25em;
  text-align: center;
  margin: 1rem 0 0;
  padding: 0;
  opacity: 0;
}
#idDivGracias{
  display: none;
}
#idDivGracias p{
  font-family: "ChronicleDisplay-Bold";
  font-size: 3.5em;
  color: #96857A;
  text-align: center;
  margin: 30% 0 0;
}
.styleexp-shiseido .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc{
    font-size: 1.75em !important;
}
.styleexp-givenchy .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion .ptitulodesc{
    font-size: 1.75em !important;
}
.styleexp-givenchy ul li .contslideitem{
  margin: 30% auto 0 !important;
}
.preloaderdiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 9999;
}
.preloaderdiv img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 120px;
  min-width: 60px;
  width: 10%;
}





@media (max-width: 768px){
  #idDivGracias p {
    font-size: 2.5em;
  }
}