@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
@charset "UTF-8";
@font-face {
  font-family: 'CircularStd-Medium';
  src: url("font/CircularStd-Medium.eot");
  src: url("font/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Medium.woff") format("woff"), url("font/CircularStd-Medium.ttf") format("truetype"), url("font/CircularStd-Medium.svg#CircularStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CircularStd-Book';
  src: url("font/CircularStd-Book.eot");
  src: url("font/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Book.woff") format("woff"), url("font/CircularStd-Book.ttf") format("truetype"), url("font/CircularStd-Book.svg#CircularStd-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CircularStd-Bold';
  src: url("font/CircularStd-Bold.eot");
  src: url("font/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Bold.woff") format("woff"), url("font/CircularStd-Bold.ttf") format("truetype"), url("font/CircularStd-Bold.svg#CircularStd-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CircularStd-Black';
  src: url("font/CircularStd-Black.eot");
  src: url("font/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("font/CircularStd-Black.woff") format("woff"), url("font/CircularStd-Black.ttf") format("truetype"), url("font/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Semi';
  src: url("font/ChronicleDisplay-Semi.eot");
  src: url("font/ChronicleDisplay-Semi.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Semi.woff") format("woff"), url("font/ChronicleDisplay-Semi.ttf") format("truetype"), url("font/ChronicleDisplay-Semi.svg#ChronicleDisplay-Semi") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Bold';
  src: url("font/ChronicleDisplay-Bold.eot");
  src: url("font/ChronicleDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Bold.woff") format("woff"), url("font/ChronicleDisplay-Bold.ttf") format("truetype"), url("font/ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Light';
  src: url("font/ChronicleDisplay-Light.eot");
  src: url("font/ChronicleDisplay-Light.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Light.woff") format("woff"), url("font/ChronicleDisplay-Light.ttf") format("truetype"), url("font/ChronicleDisplay-Light.svg#ChronicleDisplay-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ChronicleDisplay-Black';
  src: url("font/ChronicleDisplay-Black.eot");
  src: url("font/ChronicleDisplay-Black.eot?#iefix") format("embedded-opentype"), url("font/ChronicleDisplay-Black.woff") format("woff"), url("font/ChronicleDisplay-Black.ttf") format("truetype"), url("font/ChronicleDisplay-Black.svg#ChronicleDisplay-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AlphaMackAOE';
  src: url("font/AlphaMackAOE.eot");
  src: url("font/AlphaMackAOE.eot?#iefix") format("embedded-opentype"), url("font/AlphaMackAOE.woff") format("woff"), url("font/AlphaMackAOE.ttf") format("truetype"), url("font/AlphaMackAOE.svg#AlphaMackAOE") format("svg");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot?5828576");
  src: url("font/fontello.eot?5828576#iefix") format("embedded-opentype"), url("font/fontello.woff2?5828576") format("woff2"), url("font/fontello.woff?5828576") format("woff"), url("font/fontello.ttf?5828576") format("truetype"), url("font/fontello.svg?5828576#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5828576#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\e800'; }

/* '' */
.icon-facebook:before {
  content: '\e801'; }

/* '' */
.icon-linkedin:before {
  content: '\e802'; }

/* '' */
.icon-youtube-play:before {
  content: '\e803'; }

/* '' */
.icon-instagram:before {
  content: '\e804'; }

/* '' */
.icon-menu:before {
  content: '\e805'; }

/* '' */
.icon-angle-double-left:before {
  content: '\f100'; }

/* '' */
.icon-angle-double-right:before {
  content: '\f101'; }

/* '' */
/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
body {
  background: #fff;
  font-family: "ChronicleDisplay-Semi";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0; }

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; }

header .top {
  background: url(../images/headerCorporativo.gif) repeat-x center bottom;
  display: none; }
  header .top .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
    header .top .container .login ul {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      header .top .container .login ul:after {
        content: "";
        display: table;
        clear: both; }
      header .top .container .login ul li {
        float: left;
        padding: .5em;
        font-size: .85em;
        font-weight: bold;
        color: #000; }
        header .top .container .login ul li:first-child {
          padding-right: 0; }
        header .top .container .login ul li i {
          font-size: 1.5em; }
        header .top .container .login ul li a.falabella {
          background: url(../images/sprite-headerCorporativo.png) no-repeat 0px 0px;
          display: block;
          width: 50px;
          height: 20px; }
header .bottom .container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 1em 10px; }
  header .bottom .container nav ul:after {
    content: "";
    display: table;
    clear: both; }
  header .bottom .container nav ul li {
    float: left;
    padding: 1.5em;
    color: #000;
    font-size: 1.3em; }
    header .bottom .container nav ul li a {
      color: #000;
      font-size: .85em; }
      header .bottom .container nav ul li a:hover {
        color: #C4D600; }
  header .bottom .container .nav-mobile {
    display: none; }
  header .bottom .container .redes ul li {
    display: inline-block; }
    header .bottom .container .redes ul li a.fb {
      color: #3b5998; }
    header .bottom .container .redes ul li a.tw {
      color: #55acee; }
    header .bottom .container .redes ul li a.inst {
      color: #125688; }

.slider .container {
  overflow: hidden; }
  .slider .container ul.slides li {
    position: relative; }
    .slider .container ul.slides li .redes {
      position: absolute;
      right: 1.4em;
      bottom: 3.2em; }
      .slider .container ul.slides li .redes ul li {
        display: inline-block;
        padding: 0 .37em; }
        .slider .container ul.slides li .redes ul li a {
          color: #fff; }

.banner .box-banner {
  position: relative; }
  .banner .box-banner .text {
    position: absolute;
    top: 0;
    right: 5%;
    border: 3px solid #96857A;
    width: 50%;
    height: 80%;
    padding: 1em;
    margin: 3% 0;
    box-sizing: border-box;
    text-align: center;
    color: #96857A; }
    .banner .box-banner .text.andrea {
      width: 57%; }
    .banner .box-banner .text h1 {
      font-size: 3em;
      margin: 0; }
    .banner .box-banner .text h4 {
      font-family: "CircularStd-Book"; }
    .banner .box-banner .text p {
      font-family: "CircularStd-Book"; }

.main .container .back {
  color: #808080;
  display: block;
  text-align: left;
  padding: 1em 0 0 0;
  text-decoration: underline;
  line-height: 150%; }
  .main .container .back i {
    font-size: 1.2em; }
.main .container h1 {
  text-align: center;
  color: #EDC1BF;
  text-decoration: underline; }
.main .container ul.section:after {
  content: "";
  display: table;
  clear: both; }
.main .container ul.section li {
  width: 32%;
  float: left;
  margin: 0 2% 2% 0;
  text-align: center;
  overflow: hidden; }
  .main .container ul.section li:last-child {
    margin-right: 0; }
  .main .container ul.section li a {
    display: block;
    min-height: 400px;
    color: #fff;
    font-family: "CircularStd-Bold";
    position: relative;
    background: rgba(0, 0, 0, 0.6); }
    .main .container ul.section li a:hover {
      background: rgba(0, 0, 0, 0.2); }
      .main .container ul.section li a:hover span {
        text-shadow: 0 2px 10px #000000;
        transform: translateY(50%);
        transition: transform ease .3s; }
        .main .container ul.section li a:hover span.prox {
          transform: translateY(-50%); }
    .main .container ul.section li a span {
      font-family: "ChronicleDisplay-Bold";
      letter-spacing: -2px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 27%;
      font-size: 2.8em;
      transform: translateY(0%);
      transition: transform ease .3s; }
      .main .container ul.section li a span.prox {
        position: absolute;
        top: 0;
        left: 0;
        font-family: "ChronicleDisplay-Bold";
        letter-spacing: -2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 27%;
        font-size: 2.8em;
        transform: translateY(-300%);
        transition: transform ease .3s; }
  .main .container ul.section li:nth-child(1) {
    background: url(../images/section-01.jpg) no-repeat center center; }
  .main .container ul.section li:nth-child(2) {
    background: url(../images/section-02.jpg) no-repeat center center; }
  .main .container ul.section li:nth-child(3) {
    background: url(../images/section-03.jpg) no-repeat center center; }
.main .container ul.category:after {
  content: "";
  display: table;
  clear: both; }
.main .container ul.category li {
  width: 32%;
  float: left;
  border: 5px solid #EDC1BF;
  margin: 2em 2% 2em 0;
  box-sizing: border-box; }
  .main .container ul.category li:hover {
    background: #EDC1BF; }
    .main .container ul.category li:hover a {
      color: #fff; }
  .main .container ul.category li:last-child {
    margin-right: 0; }
  .main .container ul.category li a {
    color: #EDC1BF;
    padding: .7em 1em;
    font-size: 1.7em;
    font-family: "ChronicleDisplay-Black";
    display: block;
    text-align: center; }
.main .container ul.buttons {
  // display: flex;
  // display: -webkit-flex;
  // -webkit-justify-content: space-around;
  // justify-content: space-around;
  // -webkit-align-items: center;
  // align-items: center;
  text-align: center;
  // background: #fff;
  padding: 1em 0;
  margin: 1em 0;
  border: 2px solid #808080;
  border-radius: 15px;
}
.main .container ul.buttons li {
  display: inline-block;
  padding: .5em .7em;
  vertical-align: middle;
  font-family: 'CircularStd-Book';
  color: #808080;
}
.main .container ul.buttons li:first-child {
  font-size: 1.5em;
  border-right: 2px solid #808080;
}
.main .container ul.buttons li:nth-child(3) {
  border-right: 2px solid #808080;
}

.main .container a.promo {
  background: #EDEDED;
  display: block;
  padding: 1em;
  border-radius: 15px;
}
.main .container .legal {
  display: flex;
  align-items: center;
  padding: 1em 0; }
  .main .container .legal:after {
    content: "";
    display: table;
    clear: both; }
  .main .container .legal span {
    float: left;
    display: block;
    font-family: 'helvetica', arial, serif; }
    .main .container .legal span.left {
      width: 25%;
      font-size: 2.2em;
      color: #4D5255; }
    .main .container .legal span.right {
      width: 75%;
      font-size: .6em; }
.main.agenda .container {
  text-align: center;
  font-family: "ChronicleDisplay-Bold"; }
  .main.agenda .container h2 {
    color: #9B8A7A;
    font-size: 2em; }
  .main.agenda .container h4 {
    color: #808080;
    font-family: "CircularStd-Book"; }
  .main.agenda .container ul.cat {
    padding-bottom: 2em; }
    .main.agenda .container ul.cat li {
      border: 7px solid #EDC1BF;
      margin: 2em 0;
      padding: 1.5em 1em;
      box-sizing: border-box; }
      .main.agenda .container ul.cat li:hover {
        background: #EDC1BF; }
        .main.agenda .container ul.cat li:hover a {
          color: #fff; }
      .main.agenda .container ul.cat li h1 {
        font-size: 2.4em; }
        .main.agenda .container ul.cat li h1 span {
          display: block;
          font-size: .5em;
          color: #8F9194; }
      .main.agenda .container ul.cat li a {
        color: #EDC1BF; }
  .main.agenda .container #tabs ul.ui-tabs-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .main.agenda .container #tabs ul li {
    border: 4px solid #EDC1BF;
    margin: 2em 0;
    box-sizing: border-box;
    float: left;
    width: 18.4%;
    margin-right: 2%; }
    .main.agenda .container #tabs ul li a {
      color: #EDC1BF;
      text-transform: uppercase;
      display: block;
      padding: .8em 1em; }
      .main.agenda .container #tabs ul li a:hover {
        background: #EDC1BF;
        color: #fff; }
    .main.agenda .container #tabs ul li:last-child {
      margin-right: 0; }
  .main.agenda .container #tabs .box .title {
    background: #EDC1BF;
    color: #fff;
    padding: .5em 0; }
  .main.agenda .container #tabs .box ul:after {
    content: "";
    display: table;
    clear: both; }
  .main.agenda .container #tabs .box ul li {
    width: 23.5%;
    height: 380px;
    float: left;
    margin: 0 2% 1em 0;
    padding: .5em;
    text-align: left;
    box-sizing: border-box;
    border-color: #9B8A7A;
    position: relative;
    overflow: hidden; }
    .main.agenda .container #tabs .box ul li:nth-child(4n) {
      margin-right: 0; }
    .main.agenda .container #tabs .box ul li .hover {
      position: absolute;
      top: 0;
      left: 0;
      background: #9B8A7A;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      z-index: 999;
      transform: translateX(100%);
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .main.agenda .container #tabs .box ul li .hover span.horario {
        font-size: 1.7em; }
      .main.agenda .container #tabs .box ul li .hover span.border {
        background: #fff;
        height: 1px;
        width: 25%;
        margin: 1em auto; }
      .main.agenda .container #tabs .box ul li .hover span.telef {
        font-family: "CircularStd-Medium";
        font-size: 1.2em; }
    .main.agenda .container #tabs .box ul li span {
      display: block; }
      .main.agenda .container #tabs .box ul li span.brand {
        font-family: "ChronicleDisplay-Light";
        text-transform: uppercase;
        font-size: 1.5em; }
      .main.agenda .container #tabs .box ul li span.date {
        font-family: "ChronicleDisplay-Black";
        font-size: 2em;
        color: #9B8A7A;
        padding: 10px 0; }
      .main.agenda .container #tabs .box ul li span.text, .main.agenda .container #tabs .box ul li span.note {
        font-family: "CircularStd-Book";
        font-size: .85em; }
      .main.agenda .container #tabs .box ul li span.note {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .5em;
        font-size: .65em;
        color: #808080; }
    .main.agenda .container #tabs .box ul li.show .hover {
      transform: translateX(0%); }
.main.tratamientos .container {
  text-align: center; }
  .main.tratamientos .container h1 {
    color: #EDC1BF;
    text-decoration: underline;
    font-family: "ChronicleDisplay-Bold"; }
  .main.tratamientos .container ul.products:after {
    content: "";
    display: table;
    clear: both; }
  .main.tratamientos .container ul.products li {
    width: 18.4%;
    height: 500px;
    float: left;
    margin: 0 2% 5% 0;
    box-sizing: border-box;
    position: relative; }
    .main.tratamientos .container ul.products li:nth-child(5n) {
      margin-right: 0; }
    .main.tratamientos .container ul.products li span {
      display: block;
      color: #808080; }
      .main.tratamientos .container ul.products li span.brand {
        font-family: "CircularStd-Book";
        text-transform: uppercase;
        padding: .5em 0; }
      .main.tratamientos .container ul.products li span.excerpt {
        color: #9B8A7A;
        font-family: "ChronicleDisplay-Bold";
        font-size: 1.5em;
        height: 120px; }
        .main.tratamientos .container ul.products li span.excerpt .oferta {
          background: url(../images/oferta.png) no-repeat 20px top;
          color: red;
          font-family: "ChronicleDisplay-Bold";
          font-style: italic;
          font-size: 1em;
          padding: .9em 0 0 0; }
      .main.tratamientos .container ul.products li span.sku {
        font-family: "CircularStd-Book";
        font-size: .6em; }
      .main.tratamientos .container ul.products li span.price {
        color: #D4ADAC;
        font-size: 1.4em;
        font-family: "ChronicleDisplay-Bold";
        padding: .5em 0; }
        .main.tratamientos .container ul.products li span.price.ofert {
          padding: 0;
          font-size: 1em;
          font-family: "CircularStd-Book"; }
          .main.tratamientos .container ul.products li span.price.ofert.normal {
            color: #808080;
            font-size: .8em;
          }
      .main.tratamientos .container ul.products li span.buy {
        font-family: "CircularStd-Medium";
        position: absolute;
        right: 0;
        bottom: 1.5em;
        left: 0; }
        .main.tratamientos .container ul.products li span.buy a {
          display: block;
          background: #D4ADAC;
          color: #fff;
          padding: .5em;
          width: 50%;
          margin: 0 auto;
          border-radius: 2px; }
          .main.tratamientos .container ul.products li span.buy a:hover {
            background: #231F20; }
.main.experto .container ul.gif:after {
  content: "";
  display: table;
  clear: both; }
.main.experto .container ul.gif li {
  width: 32%;
  height: 200px;
  margin: 1% 2% 1% 0;
  float: left;
  background: #818386; }
  .main.experto .container ul.gif li a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 2em;
    color: #fff;
    width: 100%;
    height: 100%; }
  .main.experto .container ul.gif li:last-child {
    margin-right: 0; }
.main.experto .container ul.media:after {
  content: "";
  display: table;
  clear: both; }
.main.experto .container ul.media li {
  width: 49%;
  height: 200px;
  margin: 1% 2% 1% 0;
  float: left;
  background-size: cover; }
  .main.experto .container ul.media li:nth-child(even) {
    margin-right: 0; }
  .main.experto .container ul.media li:nth-child(1) {
    background: url(../images/exp-bg-video.jpg) no-repeat center center; }
  .main.experto .container ul.media li:nth-child(2) {
    background: #EDC1BF; }
    .main.experto .container ul.media li:nth-child(2) a {
      background: none; }
      .main.experto .container ul.media li:nth-child(2) a:hover {
        background: none; }
  .main.experto .container ul.media li:nth-child(3) {
    background: url(../images/exp-bg-tips.jpg) no-repeat center center; }
  .main.experto .container ul.media li:nth-child(4) {
    background: url(../images/exp-bg-summer.jpg) no-repeat center center; }
  .main.experto .container ul.media li a {
    background: rgba(0, 0, 0, 0.6);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.7em;
    text-align: center;
    font-family: "ChronicleDisplay-Bold"; }
    .main.experto .container ul.media li a:hover {
      background: rgba(0, 0, 0, 0.2);
      text-shadow: 0 2px 10px #000000; }
.main.experto.lancome .container ul.media li:first-child {
  background: url(../images/exp-bg-tutoriales.jpg) no-repeat center center; }
.main.experto.lancome .container .packery:after {
  content: "";
  display: table;
  clear: both; }
.main.experto.lancome .container .packery .box {
  float: left;
  width: 49%;
  margin: 1% 2% 1% 0; }
  .main.experto.lancome .container .packery .box:last-child {
    margin-right: 0; }
  .main.experto.lancome .container .packery .box ul li {
    width: 100%; }
    .main.experto.lancome .container .packery .box ul li a {
      width: 100%; }
.main.experto.lancome .container .packery .left ul.media li {
  background: url(../images/lancome-002.jpg) no-repeat center center; }
.main.experto.lancome .container .packery .right ul.min-box:after {
  content: "";
  display: table;
  clear: both; }
.main.experto.lancome .container .packery .right ul.min-box li {
  float: left;
  width: 48%;
  margin: 0% 4% 4% 0; }
  .main.experto.lancome .container .packery .right ul.min-box li:nth-child(even) {
    margin-right: 0; }
  .main.experto.lancome .container .packery .right ul.min-box li img {
    display: block;
    width: 100%; }
.main.experto.lancome .container .packery .right #Glide {
  margin: 0; }
  .main.experto.lancome .container .packery .right #Glide ul li {
    height: 435px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main.experto.lancome .container .packery .right #Glide ul li .right {
      padding: 0 3em 0 0; }
      .main.experto.lancome .container .packery .right #Glide ul li .right span {
        display: block;
        text-align: center; }
        .main.experto.lancome .container .packery .right #Glide ul li .right span.title {
          color: #9B8A7A;
          font-family: "ChronicleDisplay-Bold";
          font-size: 1.5em; }
        .main.experto.lancome .container .packery .right #Glide ul li .right span.sku {
          font-family: "CircularStd-Book";
          font-size: .6em;
          color: #808080; }
        .main.experto.lancome .container .packery .right #Glide ul li .right span.price {
          color: #D4ADAC;
          font-size: 1.4em;
          font-family: "ChronicleDisplay-Bold";
          padding: .5em 0; }
        .main.experto.lancome .container .packery .right #Glide ul li .right span.buy {
          font-family: "CircularStd-Medium"; }
          .main.experto.lancome .container .packery .right #Glide ul li .right span.buy a {
            display: block;
            background: #231F20;
            color: #fff;
            padding: .5em;
            width: 50%;
            margin: 0 auto;
            border-radius: 2px; }
            .main.experto.lancome .container .packery .right #Glide ul li .right span.buy a:hover {
              background: #D4ADAC; }

.footer {
  background: #EDEDED; }
  .footer .brands {
    padding: 2em 0;
    text-align: center; }
    .footer .brands li {
      display: inline-block;
      padding: 0 .5em; }

#box-eventos,
#box-fragancias,
#box-makeup {
  display: none;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  z-index: 9999; }
  #box-eventos .mensaje,
  #box-fragancias .mensaje,
  #box-makeup .mensaje {
    border: 5px solid #92817A;
    width: 548px;
    text-align: center;
    line-height: 180%;
    color: #4c4c4c; }
    #box-eventos .mensaje .contenedor,
    #box-fragancias .mensaje .contenedor,
    #box-makeup .mensaje .contenedor {
      position: relative;
      padding: 2em; }
      #box-eventos .mensaje .contenedor img.close,
      #box-fragancias .mensaje .contenedor img.close,
      #box-makeup .mensaje .contenedor img.close {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer; }
      #box-eventos .mensaje .contenedor h1,
      #box-fragancias .mensaje .contenedor h1,
      #box-makeup .mensaje .contenedor h1 {
        color: #92817A; }
      #box-eventos .mensaje .contenedor h4,
      #box-fragancias .mensaje .contenedor h4,
      #box-makeup .mensaje .contenedor h4 {
        color: #808080;
        font-family: "CircularStd-Book";
        font-weight: 100; }
      #box-eventos .mensaje .contenedor ul,
      #box-fragancias .mensaje .contenedor ul,
      #box-makeup .mensaje .contenedor ul {
        text-align: center; }
        #box-eventos .mensaje .contenedor ul li,
        #box-fragancias .mensaje .contenedor ul li,
        #box-makeup .mensaje .contenedor ul li {
          display: inline-block; }

#box-video .mensaje,
#box-tips .mensaje,
#box-frag .mensaje,
#box-primavera .mensaje {
  color: #808080; }
  #box-video .mensaje .contenedor h1, #box-video .mensaje .contenedor h2,
  #box-tips .mensaje .contenedor h1,
  #box-tips .mensaje .contenedor h2,
  #box-frag .mensaje .contenedor h1,
  #box-frag .mensaje .contenedor h2,
  #box-primavera .mensaje .contenedor h1,
  #box-primavera .mensaje .contenedor h2 {
    color: #96857A; }
  #box-video .mensaje .contenedor h3,
  #box-tips .mensaje .contenedor h3,
  #box-frag .mensaje .contenedor h3,
  #box-primavera .mensaje .contenedor h3 {
    color: #808080; }
  #box-video .mensaje .contenedor p,
  #box-tips .mensaje .contenedor p,
  #box-frag .mensaje .contenedor p,
  #box-primavera .mensaje .contenedor p {
    font-family: "CircularStd-Book"; }
#box-video.ojos .contenedor #tabs ul.ui-tabs-nav,
#box-tips.ojos .contenedor #tabs ul.ui-tabs-nav,
#box-frag.ojos .contenedor #tabs ul.ui-tabs-nav,
#box-primavera.ojos .contenedor #tabs ul.ui-tabs-nav {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #box-video.ojos .contenedor #tabs ul.ui-tabs-nav li,
  #box-tips.ojos .contenedor #tabs ul.ui-tabs-nav li,
  #box-frag.ojos .contenedor #tabs ul.ui-tabs-nav li,
  #box-primavera.ojos .contenedor #tabs ul.ui-tabs-nav li {
    border: 5px solid #96857A; }
    #box-video.ojos .contenedor #tabs ul.ui-tabs-nav li a,
    #box-tips.ojos .contenedor #tabs ul.ui-tabs-nav li a,
    #box-frag.ojos .contenedor #tabs ul.ui-tabs-nav li a,
    #box-primavera.ojos .contenedor #tabs ul.ui-tabs-nav li a {
      color: #96857A;
      display: block;
      padding: .5em 1em;
      font-size: 1.2em; }
    #box-video.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active,
    #box-tips.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active,
    #box-frag.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active,
    #box-primavera.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active {
      background: #96857A; }
      #box-video.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active a,
      #box-tips.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active a,
      #box-frag.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active a,
      #box-primavera.ojos .contenedor #tabs ul.ui-tabs-nav li.ui-state-active a {
        color: #fff; }
#box-video.ojos .contenedor #tabs ul.ojos:after,
#box-tips.ojos .contenedor #tabs ul.ojos:after,
#box-frag.ojos .contenedor #tabs ul.ojos:after,
#box-primavera.ojos .contenedor #tabs ul.ojos:after {
  content: "";
  display: table;
  clear: both; }
#box-video.ojos .contenedor #tabs ul.ojos li,
#box-tips.ojos .contenedor #tabs ul.ojos li,
#box-frag.ojos .contenedor #tabs ul.ojos li,
#box-primavera.ojos .contenedor #tabs ul.ojos li {
  width: 32%;
  float: left;
  margin: 1em 2% 1em 0; }
  #box-video.ojos .contenedor #tabs ul.ojos li:last-child,
  #box-tips.ojos .contenedor #tabs ul.ojos li:last-child,
  #box-frag.ojos .contenedor #tabs ul.ojos li:last-child,
  #box-primavera.ojos .contenedor #tabs ul.ojos li:last-child {
    margin-right: 0; }
#box-video.ojos .contenedor #tabs ul.ojos2:after,
#box-tips.ojos .contenedor #tabs ul.ojos2:after,
#box-frag.ojos .contenedor #tabs ul.ojos2:after,
#box-primavera.ojos .contenedor #tabs ul.ojos2:after {
  content: "";
  display: table;
  clear: both; }
#box-video.ojos .contenedor #tabs ul.ojos2 li,
#box-tips.ojos .contenedor #tabs ul.ojos2 li,
#box-frag.ojos .contenedor #tabs ul.ojos2 li,
#box-primavera.ojos .contenedor #tabs ul.ojos2 li {
  width: 49%;
  float: left;
  margin: 1em 2% 1em 0; }
  #box-video.ojos .contenedor #tabs ul.ojos2 li:nth-child(even),
  #box-tips.ojos .contenedor #tabs ul.ojos2 li:nth-child(even),
  #box-frag.ojos .contenedor #tabs ul.ojos2 li:nth-child(even),
  #box-primavera.ojos .contenedor #tabs ul.ojos2 li:nth-child(even) {
    margin-right: 0; }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 1; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/* text-based popup styling */
.white-popup {
  position: relative;
  padding: 25px;
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }

#box-tips #Glide {
  background-color: none;
}


/* 

cambiar a partir de acá


*/


/* line 3, ../scss/mobile.scss */
.container img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
}
@media all and (max-width: 768px) {
  /* line 10, ../scss/mobile.scss */
  .container img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

@media all and (max-width: 768px) {
  /* line 19, ../scss/mobile.scss */
  .main .container ul.section li {
    float: none;
    width: 100%;
    margin: 2% 0;
    background-size: cover!important;
  }
}
@media all and (max-width: 768px) {
  /* line 26, ../scss/mobile.scss */
  .main .container ul.section li a {
    min-height: 0;
  }
}
@media all and (max-width: 768px) {
  /* line 30, ../scss/mobile.scss */
  .main .container ul.section li a span {
    height: auto;
    position: relative;
    padding: 2em 1em;
    display: block;
  }
}

@media all and (max-width: 768px) {
  /* line 40, ../scss/mobile.scss */
  .main .container ul.category li {
    display: block;
    float: none;
    width: 100%;
    margin: 2% 0;
  }
}

@media all and (max-width: 768px) {
  /* line 48, ../scss/mobile.scss */
  .main .container ul.buttons {
    display: block;
  }
  .main .container ul.buttons li:first-child {
    content: url(../images/date2.png);
    border-right: none;
    border-bottom: 2px solid #808080;
  }
  .main .container ul.buttons li:nth-child(3) {
    border-right: none;
    padding: .5em 0;
    width: 39%;
  }
  .main .container ul.buttons li:nth-child(2) {
    padding-left: 0;
  }
  .main .container ul.buttons li:nth-child(2) img {
    content: url(../images/bcuotas.png);
  }
  .main .container ul.buttons li:nth-child(3) img {
    content: url(../images/perfumeria.png);
  }
  .main .container ul.buttons li:nth-child(4) {
    padding-right: 0;
    width: 25%;
  }
}

@media all and (max-width: 320px) {
  .main .container ul.buttons li:first-child {
    box-sizing: border-box;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 53, ../scss/mobile.scss */
  #box-formulario {
    overflow: auto;
  }
}

@media all and (max-width: 768px) {
  /* line 58, ../scss/mobile.scss */
  #idFormularioRegistro {
    font-size: .9em;
  }
  /* line 60, ../scss/mobile.scss */
  #idFormularioRegistro .imgfondoformulario {
    display: none;
  }
  /* line 63, ../scss/mobile.scss */
  #idFormularioRegistro form {
    width: 80%;
    display: block;
    margin: auto;
  }
  /* line 68, ../scss/mobile.scss */
  #idFormularioRegistro .ptituloformulario {
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  /* line 73, ../scss/mobile.scss */
  #idFormularioRegistro input {
    border: 1px solid;
    margin: .5em 0;
  }
  /* line 77, ../scss/mobile.scss */
  #idFormularioRegistro .contformulario {
    position: relative;
    width: 90%;
    margin: auto;
    left: 0;
    top: 0;
    padding: 2em 0;
  }
  /* line 85, ../scss/mobile.scss */
  #idFormularioRegistro .filaformulario {
    margin: 0;
  }
  /* line 87, ../scss/mobile.scss */
  #idFormularioRegistro .filaformulario .columnamitadformulario {
    float: none;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 96, ../scss/mobile.scss */
  .main.agenda .container #tabs ul.ui-tabs-nav {
    display: block;
  }
  /* line 99, ../scss/mobile.scss */
  .main.agenda .container #tabs ul.ui-tabs-nav li {
    float: none;
    display: inline-block;
    width: auto;
    margin: .25em;
  }
}

@media all and (max-width: 768px) {
  /* line 109, ../scss/mobile.scss */
  .main.agenda .container #tabs .box ul li {
    display: block;
    float: none;
    width: 100%!important;
    height: auto;
    padding-bottom: 1em;
  }
}

@media all and (max-width: 768px) {
  /* line 123, ../scss/mobile.scss */
  .main.experto .container ul.media li {
    float: none;
    width: 100%;
    height: auto;
  }
  /* line 127, ../scss/mobile.scss */
  .main.experto .container ul.media li a {
    display: block;
    padding: 2em 1em;
    width: auto;
  }
}

@media all and (max-width: 768px) {
  /* line 136, ../scss/mobile.scss */
  .glide--horizontal .glide__bullets {
    bottom: 2em;
  }
}

@media all and (max-width: 768px) {
  /* line 141, ../scss/mobile.scss */
  .glide--horizontal .glide__arrows {
    width: 100%;
    margin-left: 0;
  }
}

@media all and (max-width: 768px) {
  /* line 151, ../scss/mobile.scss */
  #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contimg, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg .contimg, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contimg {
    display: block!important;
    width: 100%!important;
  }
  /* line 156, ../scss/mobile.scss */
  #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg .contdescripcion, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion {
    display: block!important;
    width: 100%!important;
  }
}

/* line 166, ../scss/mobile.scss */
#box-video .vid-container {
  display: block;
  width: 100%;
  max-width: 1080px;
  margin: auto;
}
/* line 171, ../scss/mobile.scss */
#box-video .vid-container .player {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 177, ../scss/mobile.scss */
#box-video .vid-container .player iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 188, ../scss/mobile.scss */
#box-eventos .mensaje, #box-fragancias .mensaje, #box-makeup .mensaje {
  width: 96%;
  max-width: 548px;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  /* line 200, ../scss/mobile.scss */
  .main.experto .container ul.gif li {
    display: block;
    float: none;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 209, ../scss/mobile.scss */
  .container .contimagentexto .divcuadrotexto {
    position: relative;
    color: #000;
    top: 0;
    right: 0;
    width: 100%;
    margin: 1em auto;
    border: 4px solid #96857A;
    box-sizing: border-box;
  }
  /* line 218, ../scss/mobile.scss */
  .container .contimagentexto .divcuadrotexto p {
    color: #96857A!important;
  }
}

@media all and (max-width: 768px) {
  /* line 227, ../scss/mobile.scss */
  .banner .box-banner .text {
    display: block;
    width: 100%!important;
    position: relative;
    color: #96857A;
    top: 0;
    right: 0;
    margin: 1em auto;
    border: 4px solid #96857A;
    box-sizing: border-box;
  }
}

@media all and (max-width: 768px) {
  /* line 242, ../scss/mobile.scss */
  .main.experto.lancome .container .packery .box {
    float: none;
    width: 100%;
  }
  /* line 245, ../scss/mobile.scss */
  .main.experto.lancome .container .packery .box img {
    display: block;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 252, ../scss/mobile.scss */
  li.glide__slide {
    display: inline-block!important;
    vertical-align: middle!important;
    height: auto!important;
    padding: 5em 0;
  }
  /* line 258, ../scss/mobile.scss */
  li.glide__slide .divcuadrotexto {
    border: none!important;
    padding: 0 2em;
  }
  /* line 262, ../scss/mobile.scss */
  li.glide__slide > div {
    float: none!important;
    width: 100%!important;
    margin: auto!important;
  }
}

/* line 269, ../scss/mobile.scss */
.glide-estee {
  background-color: transparent!important;
}
@media all and (max-width: 768px) {
  /* line 271, ../scss/mobile.scss */
  .glide-estee li.glide__slide {
    padding-top: 0;
  }
}

/* line 277, ../scss/mobile.scss */
.vid-list-nav, .tip-list-nav {
  display: block;
  text-align: center;
}
/* line 280, ../scss/mobile.scss */
.vid-list-nav ul, .tip-list-nav ul {
  display: block;
  text-align: center;
  padding: 1em 0;
}
/* line 284, ../scss/mobile.scss */
.vid-list-nav ul li, .tip-list-nav ul li {
  display: inline-block;
  margin: 0 .2em;
}
/* line 288, ../scss/mobile.scss */
.vid-list-nav ul li a, .tip-list-nav ul li a {
  display: block;
  width: .8em;
  height: .8em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
/* line 298, ../scss/mobile.scss */
.vid-list-nav ul li.selected a, .tip-list-nav ul li.selected a {
  background-color: transparent;
}

@media all and (max-width: 768px) {
  /* line 305, ../scss/mobile.scss */
  .divcontsliderrigth #Glide {
    display: block!important;
    position: relative!important;
    width: 100%!important;
  }
}

@media all and (max-width: 768px) {
  /* line 314, ../scss/mobile.scss */
  header .bottom .container {
    display: block;
    min-height: 3em;
  }
}
@media all and (max-width: 768px) {
  /* line 320, ../scss/mobile.scss */
  header .bottom nav {
    display: block;
    width: 100%;
  }
  /* line 324, ../scss/mobile.scss */
  header .bottom nav li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid;
    padding: 1em 0.5em !important;
  }
}

/* line 334, ../scss/mobile.scss */
#boton-nav {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
}
/* line 339, ../scss/mobile.scss */
#boton-nav i {
  display: block;
}

@media all and (max-width: 768px) {
  /* line 344, ../scss/mobile.scss */
  .main .container .legal {
    display: block;
  }
  /* line 347, ../scss/mobile.scss */
  .main .container .legal span {
    display: block;
    width: 100%!important;
    text-align: center;
    margin: .25em 0;
    line-height: 1.2;
  }
}

@media all and (max-width: 768px) {
  /* line 356, ../scss/mobile.scss */
  img.img-tip {
    display: block;
    width: 100%;
    height: auto;
  }
}

.mfp-close:active {
    top: .5em;
}