/* line 3, ../scss/mobile.scss */
.container img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
}
@media all and (max-width: 768px) {
  /* line 10, ../scss/mobile.scss */
  .container img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

@media all and (max-width: 768px) {
  /* line 19, ../scss/mobile.scss */
  .main .container ul.section li {
    float: none;
    width: 100%;
    margin: 2% 0;
    background-size: cover!important;
  }
}
@media all and (max-width: 768px) {
  /* line 26, ../scss/mobile.scss */
  .main .container ul.section li a {
    min-height: 0;
  }
}
@media all and (max-width: 768px) {
  /* line 30, ../scss/mobile.scss */
  .main .container ul.section li a span {
    height: auto;
    position: relative;
    padding: 2em 1em;
    display: block;
  }
}

@media all and (max-width: 768px) {
  /* line 40, ../scss/mobile.scss */
  .main .container ul.category li {
    display: block;
    float: none;
    width: 100%;
    margin: 2% 0;
  }
}

@media all and (max-width: 768px) {
  /* line 48, ../scss/mobile.scss */
  .main .container ul.buttons {
    display: block;
  }
}

@media all and (max-width: 768px) {
  /* line 53, ../scss/mobile.scss */
  #box-formulario {
    overflow: auto;
  }
}

@media all and (max-width: 768px) {
  /* line 58, ../scss/mobile.scss */
  #idFormularioRegistro {
    font-size: .9em;
  }
  /* line 60, ../scss/mobile.scss */
  #idFormularioRegistro .imgfondoformulario {
    display: none;
  }
  /* line 63, ../scss/mobile.scss */
  #idFormularioRegistro form {
    width: 80%;
    display: block;
    margin: auto;
  }
  /* line 68, ../scss/mobile.scss */
  #idFormularioRegistro .ptituloformulario {
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  /* line 73, ../scss/mobile.scss */
  #idFormularioRegistro input {
    border: 1px solid;
    margin: .5em 0;
  }
  /* line 77, ../scss/mobile.scss */
  #idFormularioRegistro .contformulario {
    position: relative;
    width: 90%;
    margin: auto;
    left: 0;
    top: 0;
    padding: 2em 0;
  }
  /* line 85, ../scss/mobile.scss */
  #idFormularioRegistro .filaformulario {
    margin: 0;
  }
  /* line 87, ../scss/mobile.scss */
  #idFormularioRegistro .filaformulario .columnamitadformulario {
    float: none;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 96, ../scss/mobile.scss */
  .main.agenda .container #tabs ul.ui-tabs-nav {
    display: block;
  }
  /* line 99, ../scss/mobile.scss */
  .main.agenda .container #tabs ul.ui-tabs-nav li {
    float: none;
    display: inline-block;
    width: auto;
    margin: .25em;
  }
}

@media all and (max-width: 768px) {
  /* line 109, ../scss/mobile.scss */
  .main.agenda .container #tabs .box ul li {
    display: block;
    float: none;
    width: 100%!important;
    height: auto;
    padding-bottom: 1em;
  }
}

@media all and (max-width: 768px) {
  /* line 123, ../scss/mobile.scss */
  .main.experto .container ul.media li {
    float: none;
    width: 100%;
    height: auto;
  }
  /* line 127, ../scss/mobile.scss */
  .main.experto .container ul.media li a {
    display: block;
    padding: 2em 1em;
    width: auto;
  }
}

@media all and (max-width: 768px) {
  /* line 136, ../scss/mobile.scss */
  .glide--horizontal .glide__bullets {
    bottom: 2em;
  }
}

@media all and (max-width: 768px) {
  /* line 141, ../scss/mobile.scss */
  .glide--horizontal .glide__arrows {
    width: 100%;
    margin-left: 0;
  }
}

@media all and (max-width: 768px) {
  /* line 151, ../scss/mobile.scss */
  #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contimg, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg .contimg, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contimg {
    display: block!important;
    width: 100%!important;
  }
  /* line 156, ../scss/mobile.scss */
  #Glide .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion, #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg .contdescripcion, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem .contdescripcion {
    display: block!important;
    width: 100%!important;
  }
}

/* line 166, ../scss/mobile.scss */
#box-video .vid-container {
  display: block;
  width: 100%;
  max-width: 1080px;
  margin: auto;
}
/* line 171, ../scss/mobile.scss */
#box-video .vid-container .player {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 177, ../scss/mobile.scss */
#box-video .vid-container .player iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 188, ../scss/mobile.scss */
#box-eventos .mensaje, #box-fragancias .mensaje, #box-makeup .mensaje {
  width: 96%;
  max-width: 548px;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  /* line 200, ../scss/mobile.scss */
  .main.experto .container ul.gif li {
    display: block;
    float: none;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 209, ../scss/mobile.scss */
  .container .contimagentexto .divcuadrotexto {
    position: relative;
    color: #000;
    top: 0;
    right: 0;
    width: 100%;
    margin: 1em auto;
    border: 4px solid #96857A;
    box-sizing: border-box;
  }
  /* line 218, ../scss/mobile.scss */
  .container .contimagentexto .divcuadrotexto p {
    color: #96857A!important;
  }
}

@media all and (max-width: 768px) {
  /* line 227, ../scss/mobile.scss */
  .banner .box-banner .text {
    display: block;
    width: 100%!important;
    position: relative;
    color: #96857A;
    top: 0;
    right: 0;
    margin: 1em auto;
    border: 4px solid #96857A;
    box-sizing: border-box;
  }
}

@media all and (max-width: 768px) {
  /* line 242, ../scss/mobile.scss */
  .main.experto.lancome .container .packery .box {
    float: none;
    width: 100%;
  }
  /* line 245, ../scss/mobile.scss */
  .main.experto.lancome .container .packery .box img {
    display: block;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* line 252, ../scss/mobile.scss */
  li.glide__slide {
    display: inline-block!important;
    vertical-align: middle!important;
    height: auto!important;
    padding: 5em 0;
  }
  /* line 258, ../scss/mobile.scss */
  li.glide__slide .divcuadrotexto {
    border: none!important;
    padding: 0 2em;
  }
  /* line 262, ../scss/mobile.scss */
  li.glide__slide > div {
    float: none!important;
    width: 100%!important;
    margin: auto!important;
  }
}

/* line 269, ../scss/mobile.scss */
.glide-estee {
  background-color: transparent!important;
}
@media all and (max-width: 768px) {
  /* line 271, ../scss/mobile.scss */
  .glide-estee li.glide__slide {
    padding-top: 0;
  }
}

/* line 277, ../scss/mobile.scss */
.vid-list-nav, .tip-list-nav {
  display: block;
  text-align: center;
}
/* line 280, ../scss/mobile.scss */
.vid-list-nav ul, .tip-list-nav ul {
  display: block;
  text-align: center;
  padding: 1em 0;
}
/* line 284, ../scss/mobile.scss */
.vid-list-nav ul li, .tip-list-nav ul li {
  display: inline-block;
  margin: 0 .2em;
}
/* line 288, ../scss/mobile.scss */
.vid-list-nav ul li a, .tip-list-nav ul li a {
  display: block;
  width: .8em;
  height: .8em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
/* line 298, ../scss/mobile.scss */
.vid-list-nav ul li.selected a, .tip-list-nav ul li.selected a {
  background-color: transparent;
}

@media all and (max-width: 768px) {
  /* line 305, ../scss/mobile.scss */
  .divcontsliderrigth #Glide {
    display: block!important;
    position: relative!important;
    width: 100%!important;
  }
}

@media all and (max-width: 768px) {
  /* line 314, ../scss/mobile.scss */
  header .bottom .container {
    display: block;
    min-height: 3em;
  }
}
@media all and (max-width: 768px) {
  /* line 320, ../scss/mobile.scss */
  header .bottom nav {
    display: block;
    width: 100%;
  }
  /* line 324, ../scss/mobile.scss */
  header .bottom nav li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid;
    padding: 1em 0.5em !important;
  }
}

/* line 334, ../scss/mobile.scss */
#boton-nav {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
}
/* line 339, ../scss/mobile.scss */
#boton-nav i {
  display: block;
}

@media all and (max-width: 768px) {
  /* line 344, ../scss/mobile.scss */
  .main .container .legal {
    display: block;
  }
  /* line 347, ../scss/mobile.scss */
  .main .container .legal span {
    display: block;
    width: 100%!important;
    text-align: center;
    margin: .25em 0;
    line-height: 1.2;
  }
}
