@media screen and (max-width: 414px) {
  header .bottom .container {
    flex-direction: column; }
    header .bottom .container nav {
      display: none; }
    header .bottom .container .nav-mobile {
      display: inherit;
      position: fixed;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
      transform: translateX(-100%);
      -webkit-transition: -webkit-transform 1s ease;
      -moz-transition: transform 1s ease;
      -ms-transition: transform 1s ease;
      -o-transition: transform 1s ease;
      transition: transform 1s ease; }
      header .bottom .container .nav-mobile.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }

  .banner .container img.mobile {
    content: url(../images/banner-mobile.jpg);
    width: 100%; }
  .banner .container .box-banner {
    overflow: hidden; }
    .banner .container .box-banner .text {
      position: initial;
      width: 100%; }

  .main.agenda .container #tabs ul li {
    width: 100%;
    margin: 1em 0; }
  .main.agenda .container #tabs .box ul li {
    width: 49%;
    margin-right: 2%; }
    .main.agenda .container #tabs .box ul li:nth-child(2n) {
      margin-right: 0; }
  .main.tratamientos .container ul.products li {
    width: 47.4%; } }
@media screen and (max-width: 320px) {
  .main.agenda .container #tabs .box ul li {
    width: 100%;
    margin-right: 0%; }
    .main.agenda .container #tabs .box ul li:nth-child(2n) {
      margin-right: 0; } }
