@import "compass/css3";
.container{
	@media all and (max-width: 768px){
		img{
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}
}

.main .container ul.section li {
	@media all and (max-width: 768px){
		float: none;
		width: 100%;
		margin: 2% 0;
		background-size: cover!important;
	}
	a{
		@media all and (max-width: 768px){
			min-height: 0;
		}
		span{
			@media all and (max-width: 768px){
				height: auto;
				position: relative;
				padding: 2em 1em;
				display: block;
			}
		}
	}
}
.main .container ul.category li{
	@media all and (max-width: 768px){
		display: block;
		float: none;
		width: 100%;
		margin: 2% 0;
	}
}
.main .container ul.buttons{
	@media all and (max-width: 768px){
		display: block;
	}
}
#box-formulario{
	@media all and (max-width: 768px){
		overflow: auto;
	}
}
#idFormularioRegistro{
	@media all and (max-width: 768px){
		.imgfondoformulario{
			display: none;
		}
		form{
			width: 80%;
			display: block;
			margin: auto;
		}
		.ptituloformulario{
			font-size: 1.5em;
			padding-bottom: 1em;
		}
		font-size: .9em;
		input{
			border: 1px solid;
			margin: .5em 0;
		}
		.contformulario{
			position: relative;
			width: 90%;
			margin: auto;
			left: 0;
			top: 0;
			padding: 2em 0;
		}
		.filaformulario {
			margin: 0;
			.columnamitadformulario{
				float: none;
				width: 100%;
				
				
			}
		}
	}
}
.main.agenda .container #tabs ul.ui-tabs-nav{
	@media all and (max-width: 768px){
		display: block;
		li{
			float: none;
			display: inline-block;
			width: auto;
			margin: .25em;
		}
	}
}

.main.agenda .container #tabs .box ul {
	li{
		@media all and (max-width: 768px){
		display: block;
		float: none;
		width: 100%!important;
		height: auto;
		padding-bottom: 1em;
		}

	}
}

.main.experto .container ul.media{
	@media all and (max-width: 768px){
		li{
			float: none;
			width: 100%;
			height: auto;
			a{
				display: block;
				padding: 2em 1em;
				width: auto;

			}
		}
	}
} 
.glide--horizontal .glide__bullets{
	@media all and (max-width: 768px){
		bottom: 2em;
	}
}
.glide--horizontal .glide__arrows{
	@media all and (max-width: 768px){
		width: 100%;
		margin-left: 0;
	}
}

#Glide .glide__wrapper .glide__track .glide__slide .contslideitem , #Glide_dos .glide__wrapper .glide__track .glide__slide .contslideitem .contimg, #Glide_tres .glide__wrapper .glide__track .glide__slide .contslideitem {
	@media all and (max-width: 768px){

		.contimg{
			display: block!important;
			width: 100%!important;
		}
		
		.contdescripcion{
			display: block!important;
			width: 100%!important;
		}
	}


}

#box-video{
	.vid-container{
		display: block;
		width: 100%;
		max-width: 1080px;
		margin:auto;
		.player{
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			position: relative;
			iframe{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
}
#box-eventos .mensaje, #box-fragancias .mensaje, #box-makeup .mensaje{
	width: 96%;
	max-width: 548px;
	box-sizing: border-box;
}

.contimagentexto{
	@media all and (max-width: 768px){

	}
}

.main.experto .container ul.gif li{
	@media all and (max-width: 768px){
		display: block;
		float: none;
		width: 100%;
	}
}
.container .contimagentexto {
	@media all and (max-width: 768px){
		.divcuadrotexto{
			position: relative;
	    color: #000;
	    top: 0;
	    right: 0;
	    width: 100%;
	    margin: 1em auto;
	    border: 4px solid #96857A;
	    box-sizing:border-box;
	    p{
	    	color: #96857A!important;
	    }
		}
	}
}
.banner .box-banner {
	@media all and (max-width: 768px){
		.text{
			display: block;
			width: 100%!important;
			position: relative;
	    color: #000;
	    top: 0;
	    right: 0;
	    margin: 1em auto;
	    border: 4px solid #96857A;
	    box-sizing:border-box;
		}
	}
}
.main.experto.lancome .container .packery {
	@media all and (max-width: 768px){
		.box{
			float: none;
			width: 100%;
			img{
				display: block;
				width: 100%;
			}
		}
	}
}
li.glide__slide{
	@media all and (max-width: 768px){
		display: inline-block!important;
    vertical-align: middle!important;
    height: auto!important;
    padding: 5em 0;
    .divcuadrotexto{
    	border:none!important;
    	padding: 0 2em;
    }
		>div{
			float: none!important;
			width: 100%!important;
			margin:auto!important;
		}
	}
}

.vid-list-nav,.tip-list-nav{
	display: block;
	text-align: center;
	ul{
		display: block;
		text-align: center;
		padding: 1em 0;
		li{
			display: inline-block;
			margin: 0 .2em;

			a{
				display: block;
				width: .8em;
				height: .8em;
				@include border-radius(50%);
				background-color: #333;
				border:1px solid #333;
				box-sizing:border-box;
			}
			&.selected{
				a{
					background-color: transparent;
				}
			}
		}
	}
}
.divcontsliderrigth #Glide{
	@media all and (max-width: 768px){
		display: block!important;
		position: relative!important;
		width: 100%!important;
	}
}

header .bottom {
	.container{
		@media all and (max-width: 768px){
			display: block;
			min-height: 3em;
		}
	}
	nav{
		@media all and (max-width: 768px){
			display: block;
			width: 100%;
			li{
				display: block;
				width: 100%;
				box-sizing:border-box;
				border-bottom: 1px solid;
				padding: 1em .5em!important
			}
		}
	}
}
#boton-nav{
	display: inline-block;
	position: absolute;
	top: 1em;
	right: 1em;
	i{
		display: block;
	}

}